@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gravitas+One&display=swap');

:root{
    --cor0: #c3d1dd;
    --cor1: #222A68;
    --cor2: #EFF2F1;
    --cor3: #654597;
    --cor4: #053225;

    --fonte-padrão: arial, verdana;
    --fonte-destaque: 'gravitas';
    --fonte-títulos: 'Bebas Neue';
}

body{
    font-family: var(--fonte-padrão);
    background-color: var(--cor0);
    font-size: 16px;
    margin: 50px;
    margin-top: 0px;
}

h1{
    background-color: var(--cor2);
    text-align: center;
    font-family: var(--fonte-títulos);
    border-radius: 5px;
    border: 1px solid rgb(177, 177, 177);
}

h2{
    font-family: var(--fonte-destaque);
    background-color: rgb(193, 195, 197);
    color: var(--cor3);
}
h3{
    font-family: var(--fonte-destaque);
}

p{
    text-align: justify;
}

main{

}

section{

}

.org{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.org article{
    background-color: var(--cor2);
    flex: 1;
    min-width: 180px;
    border-radius: 12px;
    overflow: hidden;
    /* flex-direction: column;
    display: flex; */
}

.cores{
    height: 100px;
    background: linear-gradient(#14d695, #232f90);
}
.fontes{
    height: 100px;
    background: linear-gradient(#1409e5, #d069c6);
}
.esqueletos{
    height: 100px;
    background: linear-gradient(#146bd6, #a1a0a0);
}

.org article h3{
    padding: 16px;
}

.org article p{
    padding: 0 16px;
    color: #7b858d;
}

a{
    text-decoration: none;
}

a:hover{
    color: #f00b0b;
    text-decoration: underline;
}

footer p{
    background-color: var(--cor2);
    text-align: center;
}